.login {
    position: relative;

    &__background {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        img {
            width: 100%;
        }
    }

    &__custom {
        width: 88%;
        margin: 0 auto;
        height: 100vh;
    }

    &__title {
        img {
            width: 100%;
        }
    }
}
